<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:fragments="head">
    <meta charset="UTF-8" />
    <title>Noora's Coffee Shop</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{../static/style.css}" />
    <style>
      .cards-container {
        column-count: 2;
        padding: 1rem;
        margin-left: 15rem;
        margin-top: 5rem;
      }

      .cards-container div {
        background: floralwhite;
        height: 50px;
        margin: 10px 0;
        border-radius: 5rem;
        text-align: center;

        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }

      .cards-container div:first-child {
        margin: 0;
      }
    </style>
  </head>

  <body style="background-color: #d2c1b0">
    <div
      class="d-flex h-100 text-center navbar"
      cz-shortcut-listen="true"
      style="background-color: floralwhite; color: #37251b"
    >
      <section
        th:fragments="section"
        class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
      >
        <nav class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">Noora's Coffee Shop</h3>

            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/}"
                style="color: #37251b; font-weight: bold"
                >Home</a
              >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  sec:authorize="hasRole('ADMIN')"
                  th:href="@{/admin}"
                  style="color: #37251b; font-weight: bold"
                  >Admin</a
                >
              </li>
              <a
                class="nav-link"
                th:href="@{/shop}"
                style="color: #37251b; font-weight: bold"
                >Shop</a
              >

              <a
                class="nav-link"
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                style="color: #37251b; font-weight: bold"
                >Login</a
              >

              <a
              class="nav-link"  
              th:href="@{/logout}"
              sec:authorize="isAuthenticated()"
              style="color: #37251b; font-weight: bold"
              >Logout</a
            >
            </nav>
          </div>
        </nav>

        <main class="px-3">
          <h1>Welcome to Noora's Coffee Shop</h1>
          <p class="lead">
            I sell coffee machines and consumer products related to coffee.
          </p>
          <p class="lead">
            Get in touch
            <a
              href="mailto:noora_haapanen@example.com"
              style="text-decoration: none; color: #37251b; font-weight: bold"
            >
              Noora Haapanen</a
            >
          </p>
        </main>
      </section>
    </div>
  </body>
</html>
