<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/admin-header :: head"></head>
  <style>
    .card {
      text-align: center;
    }
  </style>
  <body style="background-color: floralwhite">
    <nav th:replace="fragments/admin-header :: nav"></nav>
    <div class="jumbotron text-center">
      <h1 class="display-4" style="padding: 2rem; color: #37251b">
        Wellcome back, Noora
      </h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 pt-3">
          <div class="card">
            <div class="card-body" style="background-color: #d2c1b0">
              <div class="card-title">
                <h4 class="card-text">Categories</h4>
                <a
                  th:href="@{/admin/categories}"
                  class="card-link btn btn-primary"
                  style="background-color: #37251b; border: #37251b"
                  >Manage</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-3">
          <div class="card">
            <div class="card-body" style="background-color: #d2c1b0">
              <div class="card-title" style="color: #37251b">
                <h4 class="card-text">Products</h4>
                <a
                  th:href="@{/admin/products}"
                  class="card-link btn btn-primary"
                  style="background-color: #37251b; border: #37251b"
                  >Manage</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-3">
          <div class="card">
            <div class="card-body" style="background-color: #d2c1b0">
              <div class="card-title" style="color: #37251b">
                <h4 class="card-text">Suppliers</h4>
                <a
                  th:href="@{/admin/supplier}"
                  class="card-link btn btn-primary"
                  style="background-color: #37251b; border: #37251b"
                  >Manage</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-3">
          <div class="card">
            <div class="card-body" style="background-color: #d2c1b0">
              <div class="card-title" style="color: #37251b">
                <h4 class="card-text">Manufacturers</h4>
                <a
                  th:href="@{/admin/manufacturer }"
                  class="card-link btn btn-primary"
                  style="background-color: #37251b; border: #37251b"
                  >Manage</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
