<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/admin-header :: head"></head>

  <body style="background-color: floralwhite">
    <nav th:replace="fragments/admin-header :: nav"></nav>

    <div class="container">
      <!-- <a th:href="@{/admin/categories/add}" 
        class="btn btn-primary btn-sm mb-3" >Add Category
      </a> -->

      <form
        th:action="@{/admin/categories/add}"
        method="post"
        th:object="${category}"
      >
        <!-- <input
          type="text"
          placeholder="ID"
          class="form-control mb-4 col-4"
          th:field="*{id}"
        /> -->

        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="Name"
          th:field="*{name}"
          style="margin: 5rem 0 1rem 0"
        />

        <button
          type="submit"
          class="btn btn-primary"
          style="background-color: #37251b; border: #37251b"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
