<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
  <body style="background-color: #d2c1b0" >
    <div
      class="d-flex h-100 text-center navbar"
      cz-shortcut-listen="true"
      style="background-color: floralwhite; color: #37251b"
    >
      <section
        th:fragments="section"
        class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
      >
        <nav class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">Noora's Coffee Shop</h3>

            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/}"
                style="color: #37251b; font-weight: bold"
                >Home</a
              >
              <a
                class="nav-link"
                th:href="@{/shop}"
                style="color: #37251b; font-weight: bold"
                >Shop</a
              >

              <a
                class="nav-link"
                th:href="@{register}"
                style="color: #37251b; font-weight: bold"
                >Sign Up</a
              >
            </nav>
          </div>
        </nav>

        <main class="px-3">
          <h1>Welcome to Noora's Coffee Shop</h1>
          <p class="lead">
            I sell coffee machines and consumer products related to coffee.
          </p>
          <p class="lead">
            Get in touch
            <a
              href="mailto:noora_haapanen@example.com"
              style="text-decoration: none; color: #37251b; font-weight: bold"
            >
              Noora Haapanen</a
            >
          </p>
        </main>
      </section>
    </div>

    <div class="container" style="margin-left: 30rem; margin-top: 2rem;">
        <div class="row">
            <div class="col-sm-6">
                <h2>Login</h2>
                <p>Please fill out this to login</p>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Your Email" class="form-control form-control-lg">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" id="password">
                    </div>
                    <div th:if="${param.error}" class="alert alert-error text-danger">
                        Invalid username or password.
                    </div>


                    <input
                      type="submit"
                      value="Login"
                      class="btn btn-block"
                      style="background-color: #37251b; border: #37251b; margin-top: 5px;color: white;"
                    />
                    <br>
                    <span>Don't have an account? <a class="linkControl" href="./register.html"
                                                th:href="@{/register}" style="text-decoration: none; color: #37251b; font-style: italic; font-weight: bold;"> 
                                                 Register here</a></span>
                    <br>
                    <a href="" th:href="@{/password}" style="text-decoration: none; color: #37251b; font-style: italic; font-weight: bold;">Forgot password ?</a>
                </form>

            </div>

        </div>
    </div>

    

 
  </body>
</html>

