<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="fragments/admin-header :: head"></head>
  
  <body style="background-color: floralwhite;">
    <nav th:replace="fragments/admin-header :: nav"></nav>
    <div class="container my-2">
      <h1 style="color: #37251b;">Products</h1>
      <a th:href="@{/admin/products/add}" class="btn btn-primary" style="margin: 1rem 0; background-color: #37251b; border: #37251b;">
        Add Product
      </a>

      <table border="1" class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <!-- <th>Manufacturer</th>
            <th>Supplier</th>  -->
            <th>Description</th>
            <th>Price</th>
            <th>Image preview</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category.name}"></td>
            <!-- <td th:text="${product.manufacturer.name}"></td> -->
            <!-- <td th:text="${product.supplier.name}"></td> -->
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td>
              <img
              src=""
              height="100px"
              width="100px"
              th:src="@{${'/productImages/' + product.image}}"
            />
            </td>
            <td>
              <a
                th:href="@{/admin/product/update/{id}(id=${product.id})}"
                class="btn btn-warning"
                >Update</a
              >
            </td>
            <td>
              <a
                th:href="@{/admin/product/delete/{id}(id=${product.id})}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

   
  </body>
</html>
